<!-- OneSignal Push Notifications -->
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
<script>
  window.OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "573400b8-97dd-4b8f-b416-760352a8739b",
      notifyButton: {
        enable: true
      },
      language: 'ja',
      promptOptions: {
        slidedown: {
          enabled: true,
          prompts: [
            {
              type: "push",
              autoPrompt: true,
              text: {
                actionMessage: "🐾 ラムネの新しい可愛い写真をいち早くお届けするにゃ！通知を受け取りませんか？",
                acceptButton: "受け取るにゃ♪",
                cancelButton: "今度にするにゃ"
              }
            }
          ]
        }
      }
    });
  });
</script>
<!-- End OneSignal -->

<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "eb54a95b1d834a38aa4b91ee396c1b13"}'></script><!-- End Cloudflare Web Analytics -->